
body{
    margin:0;
    padding:0;
    width:100%;
    height:600px;
    background: #000;
}
.top_up{
    width:1000px;
    margin-left:170px;
    height:75px;
    /*background: #212121;*/
    text-align:center;
    line-height:60px;
    font-size:24px;
    letter-spacing:15px;      /*字间距*/
    background:url("../img/top.png") no-repeat center center fixed;
    background-size:cover;
}

.word{
    color: #417fdf;
}
.top_down{
    width:1000px;
    margin-left:170px;
    height:40px;
    background: #323232;
    margin-top:-16px;
    background:url("../img/top_down .png");
}
.top_down div{
    float:left;
    width:198px;
    list-style-type: none;
    text-align:center;
    line-height:39px;
    border:1px solid #fbf2fd;
}
.top_down a:link,.top_down a:visited   /*超链接初始状态和访问后的状态都要套用里面的样式*/
{
    color: rgb(2, 2, 1);
    font-size:16px;
    text-decoration: none;
    font-family:"微软雅黑";

}
.top_down a:hover,.top_down a:active
{
    color: #ff922e;
    text-decoration:none;
}


.main{
    width:1000px;
    height:448px;
    text-align: center;
    /*background:url("QQ20161031214748.png");*/
    margin-left:170px;
}


.center{
    margin-top:0px;
    float:right;
}

.right_bar{
    width:199px;
    height:448px;
    /*background: #324548;*/
    float:left;
}

.right_bar a:link,.right_bar a:visited   /*超链接初始状态和访问后的状态都要套用里面的样式*/
{
    color: #0c0f0a;
    font-size:16px;
    text-decoration: none;
    font-family:"微软雅黑";

}

.right_bar a:hover,.right_bar a:active
{
    color: #fbf2fd;
    text-decoration: none;
}

.left1,.left2,.left3,.left4,.left5,.left6{
    width:200px;
    height:75px;
    line-height:75px;
    clear: both;
}
.left1,.left3,.left5 {
    background: #7d9af6;
}
.left2,.left4,.left6{
    background: #7180ff;
}

.copyright{
    width:1000px;
    height:70px;
    background:url("../img/666.png");
    margin-left:170px;
    margin-top:-14px;
}

.copyright li{
    list-style-type:none;
    float:left;
    width:180px;
    text-align:center;
    line-height:70px;
}

.copyright a{
    text-decoration: none;
    color: rgba(24, 24, 24, 0.82);
    font-size:18px;
}

.copyright a:link,.copyright a:visited   /*超链接初始状态和访问后的状态都要套用里面的样式*/
{
    color: #1b1b1b;
    font-size:16px;
    text-decoration: none;
    font-family:"微软雅黑";

}

.copyright a:hover,.copyright a:active
{
    color: #417fdf;
    text-decoration: none;
}