#add,#add2,#insert{                                   /*输入框尺寸设置*/
    width:70%;
    height:60px;
    -moz-border-radius: 5px;                          /*设置圆角边框*/
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.name,.num,.do,#add,#add2,#insert{          /*输入框、表格 字体设置*/
    font-size:30px;
    font-family:"微软雅黑";
}
.player{
    font-size:25px;
    font-family:"微软雅黑";
}

.player{                                             /*表格设置*/
    margin:0 auto;
    width:80%;
    vertical-align:middle;
    text-align:center;
    border-radius:5px;                  /*表格圆角*/
}

.left,.right{
    height:400px;
    width:25%;
    float:left;
    clear: none;
    background: #cccccc;
    border:3px solid #af9dff;
    -moz-border-radius: 15px;              //设置圆角边框
    -webkit-border-radius: 15px;
    border-radius:15px;
}
.left{
    margin:60px 0px 0px 250px;
    padding:0px 30px 100px 20px;
    text-align: center;
}


.right{
    margin:60px 0px 0px 20px;
    padding:0px 30px 100px 20px;
    text-align: center;
}



.sign,.sign2{
    font-size:50px;
    color: rgba(0, 0, 0, 0.69);
    font-family:"Century Gothic";
    text-align: center;
}