*{
    margin:0px;
    padding:0px;
    font-size:12px;
}

body{
    background-color:#F5F5F5;
}

.top{
    width:100%;
    height:27px;
    background:url(../img/top_bg.jpg)repeat-x;
}

.top_content{
    width:1000px;
    margin:0 auto;
}
.top_content li{
    list-style-image:url(../img/li_bg.gif);
    float:right;
    width:70px;
    line-height:27px;
}
.top_content a:link,.top_content a:visited   /*top_content下的超链接初始状态和访问后的状态都要套用里面的样式*/
{
    color:#336699;
    text-decoration: none;

}
.top_content a:hover,.top_content a:active /*top_content下鼠标划过 和 鼠标按下的活动状态*/
{
    color:#900;
    text-decoration: none;
}

.wrap{
    width:1000px;
    margin:0 auto;
}
.logo{
    height:80px;
    background-color:#FFF;
}
.logo_left{
    width:200px;
    float:left;
}
.logo_right{
    width:300px;
    float:right;
    line-height:80px;
    color:#8E8E8E;
}

.logo_right img{
    vertical-align: middle;    /*水平居中*/
    margin-right:10px;
}

.tel{
    font-family: "微软雅黑";
    font-size:16px;
    color:#C00;
}
.nav{
    height:40px;
    float: left;             /*此处加浮动 不然导航条mid部分会换行*/
}

/*.nav_left{
    width:10px;
    background:url(../img/nav_left.jpg) no-repeat;
    float:left;
    height:40px;
}
*/
.nav_left{
    width:10px;
    background:url(../img/nav_left.jpg) no-repeat;
    float:left;
    height:40px;
    
}
.nav_mid{
    width:980px;
    background:url(../img/nav_bg.jpg) repeat-x;
    float:left;
}

.nav_right{
    width:10px;
    background:url(../img/nav_right.jpg) no-repeat;
    float:left;
    height:40px;
}

.nav_mid_left,.nav_mid_right{
    float:left;
    height:40px;
}

.nav_mid_left{
    width:690px;
    clear:both;
}

.nav_mid_right{
    width:290px;
}

.nav_mid_left li{
    float: left;
    list-style-type: none;
    width:100px;
    text-align:center;
    line-height:40px;
}
.nav_mid_left a:link,.nav_mid_right a:visited   /*超链接初始状态和访问后的状态都要套用里面的样式*/
{
    color:#FFF;
    font-size:16px;
    text-decoration: none;
    font-family:"微软雅黑";

}

.nav_mid_left a:hover,.nav_mid_right a:active
{
    color: #ff922e;
    text-decoration: none;

}
.search_text{
    width: 190px;
    height:25px;
    margin-top:6px;
    background:url(../img/search.jpg) no-repeat right center;
    background-color:#FFF;
    padding-right:25px;
    border:1px solid #FFF;
}

.ad{
    height:310px;
    /*overflow:hidden;*/
    clear:both;

}
.main{
    height:250px;
    background:#CCC;
    margin-top:3px;
}
.news{
    width:340px;
    border:1px solid #cccccc;
    background:white;
}
.course{
    width:410px;
    border:1px solid #cccccc;
    margin:0 1px;
    background:white;
}
.sidebar{
    width:242px;
    border:1px solid #cccccc;
    background: white;
}
.news,.course,.sidebar{
    height:250px;
    float:left;
}
.title{
    height:40px;
    border-bottom:3px solid #828282;
}

.title_word{
    width:70%;
    font-family: "微软雅黑";
    font-size:18px;
    font-weight:bold;
    color:#786F66;
    float:left;
    line-height:35px;
    padding-left:20px;
}

.title_more{
    width:20%;
    float:right;
    line-height:35px;
    color: #3f59ff;
    text-decoration: none;
    text-align:right;
    padding-right:10px;

}
.space{
    padding-top:10px;
    line-height:16px;
}

.news_list li{
    list-style-type:none;
    background:url(../img/list.jpg) no-repeat;
    padding-left:10px;
    margin:8px;
    border-bottom:1px dotted #af9dff;
}

.news_list a:link,.news_list a:visited   /*超链接初始状态和访问后的状态都要套用里面的样式*/
{

    text-decoration: none;
    color: rgba(0, 0, 0, 0.92);
}

.news_list a:hover,.news_list a:active
{
    color: #5464ff;
    text-decoration: none;
}

.course_pic{
    height:120px;
    margin-top:10px;
    line-height:22px;

}
.course_pic img{
    float:left;
    margin:0 5px;
}
.course_type{
    height:37px;
    width:372px;
    background:url(../img/product_type_bg.jpg) no-repeat;
    margin:20px auto;
}
.course_type li{
    list-style-type: none;
    float:left;
    line-height:37px;
    margin:0 15px;
    text-align: center;

}
.video{
    height:185px;
    border:1px solid #E8E8E8;

}

.video_content{
    height:150px;
}
.sidebar_ad{
    height:55px;
    border:1px solid #E8E8E8;
    margin-top:5px;
}